@model Spending.Models.UserViewModel

<div class="homeContent">
    <div class="registrationPanel">
        <div class="aboutSpending">
            <div class="inAbout">
                <h1>
                    Welcome to Spending,</h1>
                <h2>
                    Here you can register all your money movimentation, say no to bad surprises at the end of
                    the month, control your money and have a good life.
                </h2>
            </div>
        </div>
        <div class="formRegistration">
            <div class="inRegistration">
                <div>
                    <h2>
                        Create Account</h2>
                </div>
                <div>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.UserModel.Name, new { @placeholder = "Name", @tabindex = "4", @class = "inputText" })
                                        @Html.ValidationMessageFor(model => model.UserModel.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(model => model.UserModel.Email, new { @placeholder = "fulano@beltrano.com", @tabindex = "5", @class = "inputText" })
                                        @Html.ValidationMessageFor(model => model.UserModel.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.PasswordFor(model => model.UserModel.Password, new { @placeholder = "Password", @tabindex = "6", @class = "inputText" })
                                        @Html.ValidationMessageFor(model => model.UserModel.Password)
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td>
                                        <input value="Create" tabindex="7" type="submit" id="" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    @if (Model.LoginFailed)
                    {
                        <div class="erro">@Model.Error</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
